*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.carousel{
    display: flex;
    width: 1000px;
    height: 500px;
    border: 1px solid lightgray;
    margin: 50px auto;
}


.carousel #img-container{
    position: relative;
    width: 75%;
    height: 100%;
    
    color: white;
}


.carousel #img-container img{
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    overflow: hidden;
    object-position: center;
}

.carousel #img-container #title {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    bottom: 70px;
    right: 20px;
    color: white;
    font-weight: bold;
    
}

.carousel #img-container #description {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
    text-align: end;
    
}


.carousel #thumbnails-container{
    position: relative;
    width: 25%;
    height: 100%;
    
    
}


.carousel #thumbnails-container img{
    
    
    object-fit: cover;
    display: block;
    opacity: .7;
}


.carousel #thumbnails-container img.active{

    opacity: 1;
    border: 4px solid white;
}



.carousel #thumbnails-container #up-arrow{

    position: absolute;
    top: 10px;
    left: 50%;
    font-size: 1.3em;
    width: 30px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 50%;
    z-index: 1;
    
    
   
}


.carousel #thumbnails-container #down-arrow{
    position: absolute;
    bottom: 10px;
    left: 50%;
    font-size: 1.3em;
    width: 30px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 50%;
    z-index: 1;
    
}


.autoplay-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

 
